.block {
  user-select: none;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
    left: -50px;
    top: -50px;
  box-sizing: border-box;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.block:hover {
  -webkit-box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, .3);
  -moz-box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, .3);
  box-shadow: 10px 10px 40px -5px rgba(0, 0, 0, .3);
}

.block:hover .block-overlay {
  display: block;
}

.block-image {
  display: block;
  width: 200px;
  height: 200px;
  background-size: cover;
  position: absolute;
    top: 0px;
    left: 0px;
}

.block-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  line-height: 200px;
  color: white;
  width: 200px;
  height: 200px;
  z-index: 50;
  position: absolute;
    top: 0px;
    left: 0px;
}

#block-caine {
  background-image: url("https://instagram.fslc1-1.fna.fbcdn.net/vp/c4649af49ec42b0a4ddeb06c90df8bd6/5C50E30F/t51.2885-15/sh0.08/e35/s640x640/37667621_223035328547980_365535896239341568_n.jpg");
}

#block-rebekah {
  background-image: url("https://instagram.fslc1-1.fna.fbcdn.net/vp/91f599b2ba2c5430aac8d2da72b5ade1/5C4E2C9C/t51.2885-15/sh0.08/e35/s640x640/31038119_167538413932626_2489941838849376256_n.jpg");
}

#block-tyson {
  background-image: url("https://instagram.fslc1-1.fna.fbcdn.net/vp/d4ec2131482974a1b553e5c1428f0196/5C7B3A4D/t51.2885-15/sh0.08/e35/s640x640/41281261_1824253147656316_5038571294098528147_n.jpg");
}

#block-christian {
  background-image: url("/resources/images/christian-pose.jpg");
}

#block-auryn {
  background-image: url("https://instagram.fslc1-1.fna.fbcdn.net/vp/48476b8b7d49aaf271182762075fcbd1/5C7A89E5/t51.2885-15/sh0.08/e35/p640x640/31310652_225915521507159_7305177060492705792_n.jpg");
}