#footer {
  background-color: #212121;
  position: relative;
  padding-bottom: 140px;
}

#footer * {
  color: white;
}

#social {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: block;
  width: 100%;
  text-align: center;
  background-color: white;
  user-select: none;
}

#social * {
  margin: 0.2vw;
  color: #212121;
}

#social-section {
  white-space: nowrap;
  height: 70px;
  line-height: 70px;
  margin-left: 2vw;
  margin-right: 2vw;
}

ul.realList, ol.realList {
  text-align: left;
}