#footer {
  background-color: #212121;
  position: relative;
  padding: 0px;
  padding-top: 80px;
}

#footer * {
  color: white;
}

.footer-section {
  display: inline-block;
  vertical-align: text-top;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}