input {
    border: 0px;
    height: 30px;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: lightgrey;
}

.input-red {
    background-color: red;
}


.input-green {
    background-color: green;
}


.input-blue {
    background-color: blue;
}