.itemlist {
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
}

.item {
    min-height: 140px;
    margin-bottom: 35px;
    text-align: left;
    box-sizing: border-box;
    transition: all 1s;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.item-header {
    height: 70px;
    width: 100%;
    display: block;
    background-color: green;
    color: white;
    line-height: 70px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.item-header * {
    margin: 0px;
    padding: 0px;
}

.item-body {
    padding: 15px;

}

.item-blog-post {
    color: white;
    user-select: none;
    line-height: 70px;
}

.item-body-setting {
    text-align: right;
}

.item-blog-post:hover {
    transform: translate(20px,0px);
    -ms-transform: translate(20px,0px); /* IE 9 */
    -webkit-transform: translate(20px,0px); /* Safari 3-8 */
}