.section {
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.section-quarter-free {
    min-height: 25vh;
}

.section-half-free {
    min-height: 50vh;
}

.section-full-free {
    min-height: 100vh;
}

.section-quarter-locked {
    height: 25vh;
}

.section-half-locked {
    height: 50vh;
}

.section-full-locked {
    height: 100vh;
}

.section-left {
    text-align: left;
}

.section-center {
    text-align: center;
}

.section-right {
    text-align: right;
}

.artist-title {
    color: black;
}

@media only screen and (orientation: landscape) {
    .section {
        width: 100vw;
        /* overflow: hidden; */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 80px;
        padding-left: 20%;
        padding-right: 20%;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
    
    .section-quarter-free {
        min-height: 25vh;
    }
    
    .section-half-free {
        min-height: 50vh;
    }
    
    .section-full-free {
        min-height: 100vh;
    }
    
    .section-quarter-locked {
        height: 25vh;
    }
    
    .section-half-locked {
        height: 50vh;
    }
    
    .section-full-locked {
        height: 100vh;
    }
    
    .section-left {
        text-align: left;
    }
    
    .section-center {
        text-align: center;
    }
    
    .section-right {
        text-align: right;
    }
    
    .artist-title {
        color: black;
    }
}

/*Accent Images*/

.accent-image {
    color: white;
    position: relative;
    margin: 0px;
    padding: 0px;
}

.accent-image * {
    padding: 0px;
    margin: 0px;
}

.accent-image-quarter {
    line-height: 25vh;
}

.accent-image-half {
    line-height: 50vh;
}

.accent-image-full {
    line-height: 100vh;
}

.accent-content-image {
    max-width: 80%;
}

.section-flare {
    width: 200vw;
    height: 55%;
    z-index: 20;
    position: absolute;
    top: 40%;
    left: -50%;
}
  
.section-flare-wood-left {
    background-image: url("/resources/images/materials/planks.jpg");
    transform: rotate(20deg);
}

.section-flare-wood-right {
    background-image: url("/resources/images/materials/planks.jpg");
    transform: rotate(-20deg);
}

.section-flare-transition-left {
    background: #00BCD4;
    background: -moz-linear-gradient(left, #2196F3 0%, #4CAF50 100%);
    background: -webkit-linear-gradient(left, #2196F3 0%, #4CAF50 100%);
    background: linear-gradient(to right, #2196F3 0%, #4CAF50 100%);
    transform: rotate(20deg);
}

.section-flare-transition-right {
    background: #00BCD4;
    background: -moz-linear-gradient(left, #2196F3 0%, #4CAF50 100%);
    background: -webkit-linear-gradient(left, #2196F3 0%, #4CAF50 100%);
    background: linear-gradient(to right, #2196F3 0%, #4CAF50 100%);
    transform: rotate(-20deg);
}

#accent-image- {
    background-image: url("/resources/images/question.jpg");
}

#accent-image-1 {
    background-image: url("/resources/images/blog/music.jpg");
}

#accent-image-2 {
    background-image: url("/resources/images/blog/technology.jpg");
}

#accent-image-3 {
    background-image: url("/resources/MooseHound/winter.jpg");
}

#accent-image-4 {
    background-image: url("/resources/images/blog/grains.jpg");
}

#accent-image-5 {
    background-image: url("/resources/images/tools.jpg");
}

#accent-image-6 {
    background-image: url("/resources/images/crowd.jpg");
}

#accent-image-7 {
    background-image: url("/resources/images/projects.jpg");
}