<div class="section-content-container">
    <div class="sub-section">
        <h2>Technical</h2>
        <ul>
            <a href="/dev/site-map.html"><li>Site Map</li>
            <a href="/dev/change-log.html"><li>Change Log</li></a>
            <a href="/dev/coming-soon.html"><li>Region and Language</li></a>
            <a href="/support/support-portal.html"><li>Report a Website Bug</li></a>
            <a href="/dev/documentation.html"><li>Documentation</li></a>
        </ul>
    </div>
    <div class="sub-section">
        <h2>Business</h2>
        <ul>
            <a href="/dev/coming-soon.html"><li>Partner With Us</li></a>
            <a href="/dev/coming-soon.html"><li>Jobs</li></a>
            <a href="/dev/coming-soon.html"><li>Employee Portal</li></a>
            <a href="/dev/coming-soon.html"><li>Newsletter</li></a>
        </ul>
    </div>
    <div class="sub-section">
        <h2>Legal</h2>
        <ul>
            <a href="/dev/coming-soon.html"><li>Content and Licences</li></a>
            <a href="/dev/coming-soon.html"><li>Terms of Use</li></a>
            <a href="/dev/coming-soon.html"><li>Information Distribution</li></a>
        </ul>
    </div>
    <div class="sub-section">
        <h2>Help and Support</h2>
        <ul>
            <a href="/support/support-portal.html"><li>Contact Technical Support</li></a>
            <a href="/support/support-portal.html"><li>Contact Account Support</li></a>
            <a href="/support/help-desk.html"><li>Help Content</li></a>
            <a href="/support/faq.html"><li>FAQs</li></a>
        </ul>
    </div>
    <div class="sub-section">
        <h2>Products and Services</h2>
        <ul>
            <a href="/store/products.html"><li>Website Development</li></a>
            <a href="/store/products.html"><li>Website Support</li></a>
            <a href="/store/products.html"><li>Domain Management</li></a>
            <a href="/store/products.html"><li>Marketing</li></a>
        </ul>
    </div>
    <div class="sub-section">
        <h2>Account</h2>
        <ul>
            <a href="/dev/coming-soon.html"><li>Download our App</li></a>
            <a href="/account/log-in.html"><li>Log in Online</li></a>
            <a href="/account/reset-password.html"> <li>Reset your Password</li></a>
            <a href="/account/sign-up.html"><li>Sign up Online</li></a>
        </ul>
    </div>
</div>