    </main>
        <!--End Of Content Body-->
        <div id="prompt-loader"></div>
        <footer class="section section-full-locked section-center" id="footer">
            <div class="footer-section">
                <h2>Technical</h2>
                <ul>
                    <a href="/dev/site-map"><li>Site Map</li>
                    <a href="/dev/change-log"><li>Change Log</li></a>
                    <a href="/app/app"><li>Region and Language</li></a>
                    <a href="/support/support-portal"><li>Report a Website Bug</li></a>
                    <a href="/dev/documentation"><li>Documentation</li></a>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Business</h2>
                <ul>
                    <a href="/dev/coming-soon"><li>Partner With Us</li></a>
                    <a href="/dev/coming-soon"><li>Jobs</li></a>
                    <a href="/dev/coming-soon"><li>Employee Portal</li></a>
                    <a href="/dev/coming-soon"><li>Newsletter</li></a>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Legal</h2>
                <ul>
                    <a href="/dev/coming-soon"><li>Content and Licences</li></a>
                    <a href="/dev/coming-soon"><li>Terms of Use</li></a>
                    <a href="/dev/coming-soon"><li>Information Distribution</li></a>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Help and Support</h2>
                <ul>
                    <a href="/support/support-portal"><li>Contact Technical Support</li></a>
                    <a href="/support/support-portal"><li>Contact Account Support</li></a>
                    <a href="/support/help-desk"><li>Help Content</li></a>
                    <a href="/support/faq"><li>FAQs</li></a>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Products and Services</h2>
                <ul>
                    <a href="/store/products"><li>Website Development</li></a>
                    <a href="/store/products"><li>Website Support</li></a>
                    <a href="/store/products"><li>Domain Management</li></a>
                    <a href="/store/products"><li>Marketing</li></a>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Account</h2>
                <ul>
                    <a href="/dev/coming-soon"><li>Download our App</li></a>
                    <a href="/account/log-in"><li>Log in Online</li></a>
                    <a href="/account/reset-password"> <li>Reset your Password</li></a>
                    <a href="/account/sign-up"><li>Sign up Online</li></a>
                </ul>
            </div>
            <div id="social">
                <h1>
                <span id="social-section">
                    <a href="https://codepen.io/cainenielsen" target="_blank" title="Codepen"><i class="fab fa-codepen"></i></a>
                    <a href="https://github.com/CaineLloyd" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/cainejlloyd" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://stackoverflow.com/users/6783006/caine-nielsen" target="_blank" title="Stack Overflow"><i class="fab fa-stack-overflow"></i></a>
                </span>
                |
                <span id="social-section">
                <a href="https://www.pinterest.com/cainelloydnielsen" target="_blank" title="Pinterest"><i class="fab fa-pinterest"></i></a>
                <a href="https://www.snapchat.com" target="_blank" title="Snapchat"><i class="fab fa-snapchat"></i></a>
                <a href="https://www.instagram.com/cainenielsen" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="https://www.deviantart.com/technomancer97" target="_blank" title="Deviant Art"><i class="fab fa-deviantart"></i></a></span>
                |
                <span id="social-section">
                <a href="http://www.youtube.com/c/CaineLloyd" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a>
                <a href="https://search.google.com/local/writereview?placeid=ChIJ62q56iKFTYcRuh53BF0Dehc" target="_blank" title="Google"><i class="fab fa-google"></i></a>
                <a href="https://www.facebook.com/caineandrebekah" target="_blank" title="Facebook"><i class="fab fa-facebook"></i></a>
                <a href="https://cainelloyd.tumblr.com" target="_blank" title="Tumblr"><i class="fab fa-tumblr"></i></a>
                </span>
                |
                <span id="social-section">
                <a href="https://steamcommunity.com/id/Technomancer97" target="_blank" title="Steam"><i class="fab fa-steam"></i></a>
                <a href="https://www.reddit.com/user/Technomancer97" target="_blank" title="Reddit"><i class="fab fa-reddit"></i></a>
                <a href="https://discord.gg/dyEyNat" target="_blank" title="Discord"><i class="fab fa-discord"></i></a>
                <a href="https://www.twitch.tv/technomancer97" target="_blank" title="Twitch"><i class="fab fa-twitch"></i></a>
                </span>
                </h1>
            </div>
        </footer>
        <!--Only run Javascript once the page has fully finished loading.-->
        <script type="text/javascript">
            function autorun() {
                //Place scripts to be run here.
            }
            if (window.addEventListener) window.addEventListener("load", autorun, false);
            else if (window.attachEvent) window.attachEvent("onload", autorun);
            else window.onload = autorun;
        </script>
    </body>
</html>