.color-section {
    height: 100px;
    width: 100%;
}

.color-box {
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
}

.color-box:hover {
    transform: scale(2);
    transition: all 0.5s;
    box-shadow: 0px 2px 5px .5px black;
}