<div id="prompt-container">
            
</div>
<div id="prompt">
    <h1>Log In:</h1>
    <div class="center">
        Username: <input class="input-default" type="text">
        <br />
        Password: <input class="input-default" type="password">
        <br />
    </div>
    <div class="center">
        <div class="button text-button button-red unselect" onClick="closePrompt()">Cancel</div>
        <div class="button text-button button-green unselect" onClick="closePrompt()">Login</div>
    </div>    
</div>