.accent-image {
    color: white;
    position: relative;
    user-select: none;
    margin: 0px;
    padding: 0px;
}

.accent-image * {
    padding: 0px;
    margin: 0px;
}

.accent-image-quarter {
    line-height: 25vh;
}

.accent-image-half {
    line-height: 50vh;
}

.accent-image-full {
    line-height: 100vh;
}

.accent-content-image {
    max-width: 80%;
}

#accent-image- {
    background-image: url("/resources/images/question.jpg");
}

#accent-image-1 {
    background-image: url("/resources/images/blog/music.jpg");
}

#accent-image-2 {
    background-image: url("/resources/images/blog/technology.jpg");
}

#accent-image-3 {
    background-image: url("/resources/MooseHound/winter.jpg");
}

#accent-image-4 {
    background-image: url("/resources/images/blog/grains.jpg");
}

#accent-image-5 {
    background-image: url("/resources/images/tools.jpg");
}
