.artist {
    display: inline-block;
    vertical-align: text-top;
    margin: 2.5vw;
    width: 25vw;
    overflow: hidden;
    text-align: center;
    transition: transform .5s;
}

.artist:hover {
    transform: scale(1.2);
}

.artist-image {
    width: 25vw;
    height: 25vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.artist-title {
    width: 100%;
}

.music-youtube {
    color: red;
}

#ajr {
    background-image: url("/resources/images/favorite-music/ajr.jpg");
}

#childish-gambino {
    background-image: url("/resources/images/favorite-music/childish-gambino.jpg");
}


#jon-bellion {
    background-image: url("/resources/images/favorite-music/jon-bellion.jpg");
}


#kyle {
    background-image: url("/resources/images/favorite-music/kyle.jpg");
}


#owl-city {
    background-image: url("/resources/images/favorite-music/owl-city.jpg");
}


#frank-ocean {
    background-image: url("/resources/images/favorite-music/frank-ocean.jpg");
}