.poem {
    text-align: center;
    user-select: none;
    background-image: url(/resources/images/leaves.png);
    padding: 10vw;
}

.poem i {
    font-size: 8vw;
}

.poem h1 {
    font-size: 10vw;
    font-family: 'Great Vibes', cursive;
}

.poem p {
    font-size: 8vw;
    font-family: 'Great Vibes', cursive;
}