#footer {
    background-color: #212121;
    position: relative;
    padding: 0px;
    padding-top: 80px;
  }
  
  #footer .section-content-container{
    background-color: #212121;
    color: white;
  }
  
  #footer a {
    color: white;
  }