html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
  
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

p {
  font-size: 1.3em;
  font-family: "PT Serif", serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.01em;
}

a:link {
  text-decoration: none;
  color: black; 
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  text-decoration: none;
  color: black;
}

p a:link {
  color: green;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 1);
  z-index: 20;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

i {
  transition: transform .5s;
}

i:hover {
  transform: scale(1.2);
}

#canvas {
  width: 100vw;
  overflow: hidden;
}

/*

input {
  border: 0px;
  height: 30px;
  border-radius: 5px;
  margin: 20px;
  padding: 5px;
  box-sizing: border-box;
  background-color: lightgrey;
}

.input-red {
  background-color: red;
}


.input-green {
  background-color: green;
}


.input-blue {
  background-color: blue;
}

*/