.navigation-bar {
  box-sizing: border-box;
  transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
}

.horizontal-nav-bar {
  z-index: 95;
  height: 70px;
  width: 100vw;
  position: fixed;
    top: 0px;
}

.verticle-nav-bar {
  z-index: 96;
  position: fixed;
    top: 0px;
    left: 0px;
}

#accent-nav-bar {
  text-align: center;
}

#no-accent-nav-bar {
  background-color: white;
}

#navigation-item-list {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

.navigation-item {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  width: 15%;
  line-height: 65px;
  height: 70px;
  white-space: nowrap;
  box-sizing: border-box;
  overflow: hidden;
  border-top: 5px solid rgba(0, 0, 0, 0);
  color: white;
  transition: color .5s;
}

.navigation-item:hover {
  border-top: 5px solid;
}

.navigation-item:active {
  background: rgba(255, 255, 255, 0.5);
}

#accent-nav-bar .navigation-item {
  color: white;
}

#no-accent-nav-bar .navigation-item {
  color: #212121;
}

@media only screen and (orientation: landscape) {
  .navigation-bar {
    box-sizing: border-box;
    transition: background-color 0.5s, color 0.5s, box-shadow 0.5s;
  }
  
  .horizontal-nav-bar {
    z-index: 95;
    height: 70px;
    width: 100vw;
    position: fixed;
      top: 0px;
  }
  
  .verticle-nav-bar {
    z-index: 96;
    position: fixed;
      top: 0px;
      left: 0px;
  }
  
  #accent-nav-bar {
    text-align: center;
  }
  
  #no-accent-nav-bar {
    background-color: white;
  }
  
  #navigation-item-list {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
  }
  
  .navigation-item {
    display: inline-block;
    font-size: 24px;
    width: 15%;
    line-height: 65px;
    height: 70px;
    white-space: nowrap;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 5px solid rgba(0, 0, 0, 0);
    color: white;
    transition: color .5s;
  }

  .navigation-item:hover {
    border-top: 5px solid;
  }

  #section-1::after {
    content: "  Home";
  }

  #section-2::after {
    content: "  About";
  }

  #section-3::after {
    content: "  Blog";
  }

  #section-4::after {
    content: "  Gallery";
  }

  #section-5::after {
    content: "  Contact";
  }
  
  #accent-nav-bar .navigation-item {
    color: white;
  }

  #no-accent-nav-bar .navigation-item {
    color: #212121;
  }
}

/*

@media only screen and (max-width: 500px) {
  body {
      background-color: lightblue;
  }
}

@media only screen and (min-width: 750px) {
  body {
      background-color: lightblue;
  }
}

@media only screen and (min-width: 1000px) {
  body {
      background-color: lightblue;
  }
}

@media only screen and (min-width: 1500px) {
  body {
      background-color: lightblue;
  }
}

@media only screen and (min-width: 2000px) {
  body {
      background-color: lightblue;
  }
}

@media only screen and (min-width: 2500px) {
  body {
      background-color: lightblue;
  }
}

@media only screen and (min-width: 3000px) {
  body {
      background-color: lightblue;
  }
}

*/